.tree-wrapper {
  min-height: 500px;
  width: 100%;
  overflow: scroll;

  .tree-wrapper__nodes {
    width: 100%;
    height: auto;
    max-height: auto;
    transition: height 0.3s ease-in-out;
  }
}
