.calendar-wrapper {
  width: 100%;
  padding: 5px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .calendar-body {
    display: flex;
    width: 100%;
    gap: 5px;
    justify-content: space-between;

    .calendar-body__wrapper {
      margin-top: 10px;
      font-size: 12px;
      width: 100%;
      display: flex;
      align-items: start;
      gap: 5px;
      overflow-x: scroll;
      position: relative;
      align-self: flex-start;
    }
  }
}
