.calendar-left-column {
  min-width: 100px;
  max-width: 100px;
  // height: 100dvh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border-right: 6px solid black;
  border-radius: 50px 50px 0 50px;
  overflow: scroll;

  .column-avatar_wrapper {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .column-avatar {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      overflow: hidden;
      margin: 0;
      transform: rotate(45deg);
      border-width: 6px;
      border-style: solid solid solid dotted;

      .column-avatar_image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: rotate(-45deg);
      }
    }
  }

  .calendar-left-column__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    .calendar-orders_title {
      width: 100%;
      background: orange;
      text-align: center;
      font-size: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      min-height: 19px;
    }

    .calendar-brigade_info {
      margin-top: 5px;
      background: #fccc9e;
      width: 100%;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      text-align: center;
      line-height: 14px;
      gap: 5px;
      p {
        margin: 0;
      }
      .fw-bold {
        font-weight: bold;
      }
      .color-violet {
        color: violet;
      }
      .color-white {
        color: white;
      }
    }

    .calendar-order {
      width: 100%;
      padding: 5px;
      display: flex;
      align-items: center;
      flex-direction: column;
      border-radius: 5px;
      margin-top: 10px;
      cursor: pointer;

      .calendar-order_id {
        background: #ffb20a;
        padding: 0px 3px;
      }

      .calendar-order_info {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 10px;
        line-height: 10px;
        p {
          margin: 0;
        }
      }

      .calendar-order_percent {
        background: #ffb20a;
        padding: 0px 3px;
        color: white;
        margin-top: 3px;
      }
    }
  }
}
